<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="RU_TEXT_MODEL_FILENAME" value="../../ts.web.demo/[resources-4-appharbor.com]/language-models-txt/[ru]/ru--(ngram_1-cut_1%).txt" /> <!-- "../../[resources]/language-models-txt/[ru]/ru- -(ngram_1-cut_1%).txt" -->

    <add key="RU_BINARY_MODEL_DIRECTORY" value="../../ts.web.demo/[resources-4-appharbor.com]/language-models-bin/" /> <!-- "../../[resources]/language-models-bin/[ru]/" -->
    <add key="RU_BINARY_MODEL_FILENAMES" value="ru--(ngram_1-cut_1%)-1.bin;
                                                ru--(ngram_1-cut_1%)-2.bin;
                                                ru--(ngram_1-cut_1%)-3.bin;" />
    <add key="RU_MODEL_DICTIONARY_CAPACITY" value="1947156" />
    
    <add key="EN_BINARY_MODEL_DIRECTORY" value="../../ts.web.demo/[resources-4-appharbor.com]/language-models-bin/" /> <!-- "../../[resources]/language-models-bin/[en]/" -->
    <add key="EN_BINARY_MODEL_FILENAMES" value="en--(ngram_1-cut_0.5%)-1.bin;
                                                en--(ngram_1-cut_0.5%)-2.bin;
                                                en--(ngram_1-cut_0.5%)-3.bin;" />
    <add key="EN_MODEL_DICTIONARY_CAPACITY" value="1993705" />
  </appSettings>

  <runtime>
    <gcServer enabled="true"/>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  
</configuration>
