<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="TEXT_MODEL_FILENAME"       value="../../../[resources]/language-models-txt/[en]/en--(ngram_1-cut_0.5%).txt" />
    <add key="MODEL_DICTIONARY_CAPACITY" value="2000000" />
    
    <add key="OUTPUT_FILENAME"           value="../../../[resources]/language-models-bin/[en]/en--(ngram_1-cut_0.5%).bin" />
    <add key="OUTPUT_FILE_SIZE_IN_BYTES" value="25690112" /> <!-- 31_457_280 == (1024*1024*30), 25_690_112 == 25MB, 103_809_024 == 99MB -->   
  </appSettings>
  
  <runtime>
    <gcServer enabled="true"/>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  
</configuration>
