<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="USE_HIGH_PRIORITY" value="true" />    
    <add key="CUT_PERCENT"       value="2" />
    <add key="URL_DETECTOR_RESOURCES_XML_FILENAME" value="../../../[resources]/url-detector/url-detector-resources.xml" />

    <add key="INPUT_DIRECTORY"        value="../../../[resources]/language-raw-source-data/[ru]"  />
    <add key="CLEAR_CYRILLICS_CHARS"  value="false" />
    <add key="CLEAR_DIGITS_CHARS"     value="true" />
    <add key="SINGLE_WORD_MAX_LENGTH" value="45" /> <!-- {en:= [45, Longest word in a major dictionary]} -->

    <add key="OUTPUT_DIRECTORY"       value="../../../[resources]/language-models-txt/[ru]" />

    <add key="USE_PORTION"            value="true" />
    <add key="MAX_PORTION_SIZE"       value="5000000" />
  </appSettings>
  
  <runtime>
    <gcServer enabled="true" />
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>

</configuration>