<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CONCURRENT_FACTORY_INSTANCE_COUNT" value="4" />
    <add key="MAX_INPUTTEXT_LENGTH"              value="10000" />

    <add key="RU_BINARY_MODEL_DIRECTORY"         value="../[resources]/language-models-bin/" />
    <add key="RU_BINARY_MODEL_FILENAMES"         value="ru--(ngram_1-cut_1%)-1.bin; 
                                                        ru--(ngram_1-cut_1%)-2.bin;
                                                        ru--(ngram_1-cut_1%)-3.bin;" />
    <add key="RU_MODEL_DICTIONARY_CAPACITY"     value="1947156" />

    <add key="EN_BINARY_MODEL_DIRECTORY"        value="../[resources]/language-models-bin/" />
    <add key="EN_BINARY_MODEL_FILENAMES"        value="en--(ngram_1-cut_0.5%)-1.bin;                                                    
                                                       en--(ngram_1-cut_0.5%)-2.bin;                                                    
                                                       en--(ngram_1-cut_0.5%)-3.bin;" />
    <add key="EN_MODEL_DICTIONARY_CAPACITY"     value="1993705" />

    <add key="DE_BINARY_MODEL_DIRECTORY"    value="../[resources]/language-models-bin/" />
    <add key="DE_BINARY_MODEL_FILENAMES"    value="de--(ngram_1-cut_1%)-1.bin;
                                                   de--(ngram_1-cut_1%)-2.bin;
                                                   de--(ngram_1-cut_1%)-3.bin;
                                                   de--(ngram_1-cut_1%)-4.bin;" />
    <add key="DE_MODEL_DICTIONARY_CAPACITY" value="2749470" />
  </appSettings>
  

  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\IISSupport\VSIISExeLauncher.exe" arguments="-argFile IISExeLauncherArgs.txt" stdoutLogEnabled="false" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>